body {
  background: #191919;
  color: #B8D8D8;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(autofit, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100vw;
}

.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 5vh;
  margin: 0;
}

.user-count {
  font-family: 'Permanent Marker', cursive;
}

.usersNum {
  font-size: 2vh;
}

.drawing {
  background: white;
}

.editing-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  background: #575757;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

.active-tool {
  text-shadow: 0 0 15px #B8D8D8;
}

.color-select {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .3rem;
  align-items: center;
}

.color {
  font-size: 1.5rem;
}

.color:hover {
  cursor: pointer;
}

.red {
  color: #E82C2C;
}

.orange {
  color: #FF9635;
}

.yellow {
  color: #FFD35D;
}

.green {
  color: #76B512;
}

.blue {
  color: #005991;
}

.violet {
  color: #7400B2;
}

.black {
  color: black;
}

.line-width {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.erasers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.plain {
  color: white;
}

#sm-brush {
  font-size: 1rem;
}

#md-brush {
  font-size: 1.2rem;
}

#lg-brush {
  font-size: 1.5rem;
}

input {
  width: 15vw;
}

.clean {
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

.clean:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 2rem;
  }
  .usersNum {
    font-size: 1rem;
  }

  .editing-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
  }
}