body {
  background: #191919;
  color: #B8D8D8;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 5vh;
  margin: 0;
}

.drawing {
  background: white;
}

.editing-tools {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  background: #575757;
  padding: 1vh 1vw;
}

.color-select {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.color {
  font-size: 4vh;
}

.color:hover {
  cursor: pointer;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.violet {
  color: #7400B2;
}

.black {
  color: black;
}

.line-width {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.erasers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.plain {
  color: white;
}

#sm-brush {
  font-size: 2vh;
}

#md-brush {
  font-size: 3vh;
}

#lg-brush {
  font-size: 4vh;
}

.clean {
  font-family: 'Permanent Marker', cursive;
  font-size: 2vh;
}

.clean:hover {
  cursor: pointer;
}